{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	{% block meta %}
		<meta name="description" content="{{ config.description }}">
		<meta property="og:title" content="{{ config.title }}">
		<meta property="og:type" content="website">
		<meta property="og:image" content="{{ config.extra.materialize.logo.small }}">
		<meta property="og:url" content="{{ get_url(path="/") }}">
		<meta property="og:description" content="{{ config.description }}">
		<meta property="og:site_name" content="{{ config.title }}">
	{% endblock meta %}
	{% block title %}
		<title>{{ config.title }}</title>
	{% endblock title %}
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link type="text/css" rel="stylesheet" href="{{ get_url(path="/css/materialize.css", trailing_slash=false) }}" media="screen,projection"/>
	<link rel="icon" type="image/png" sizes="192x192" href="{{ get_url(path="favicon-192x192.png", trailing_slash=false) }}">
	<link rel="icon" type="image/png" sizes="128x128" href="{{ get_url(path="favicon-128x128.png", trailing_slash=false) }}">
	<link rel="manifest" href="{{ get_url(path="manifest.json", trailing_slash=false) }}">
	{% if config.generate_rss %}
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
	{% endif %}

	{% block extra_head %}
	{% endblock extra_head %}
</head>

<body class="{{ config.extra.materialize.colorscheme.background.two }}">
	<div id="root">
		<header class="{{ config.extra.materialize.colorscheme.background.three }}">
			<nav class="nav top-nav {{ config.extra.materialize.colorscheme.background.one }}" role="navigation">
				{% if config.extra.materialize.sidebar != "left" %}
				<!--<a id="logo-container" href="#" class="brand-logo">-->
					<!--<img src="{{ config.extra.materialize.logo.small }}" class="logo" alt="Logo">-->
				<!--</a>-->
				<a class="{{ config.extra.materialize.colorscheme.font.three }}-text" style="font-size: 2.5rem;" href=/>{{ config.title }}|</a>
				<a class="{{ config.extra.materialize.colorscheme.font.three }}-text" style="font-size: 0.8rem;">{{ config.description }}</a>
				{% endif %}
				<ul class="right hide-on-med-and-down">
					{% if config.extra.materialize.home %}
						<li><a href="{{ config.extra.materialize.home.url }}">{{ config.extra.materialize.home.name }}</a></li>
					{% endif %}
					{% for link in config.extra.materialize.links %}
						<li><a href="{{link.url}}">{{link.name}}</a></li>
					{% endfor %}
					{% if config.generate_tags_pages %}
						<li><a href="{{ get_url(path="tags") }}">Tags</a></li>
					{% endif %}
					{% if config.generate_categories_pages %}
						<li><a href="{{ get_url(path="categories") }}">Categories</a></li>
					{% endif %}
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
				<!--/div -->
			</nav>
		</header>
		{% if config.extra.materialize.sidebar == "left" %}
			{% block sidebar%}
			{% endblock sidebar %}
		{% endif %}
		<main>
			<div class="container">
				<div class="row">
					{% block main %}
					{% endblock main %}
				</div>
			</div>
		</main>
		{% if config.extra.materialize.sidebar == "right" %}
			{% block sidebar%}
			{% endblock sidebar %}
		{% endif %}

		<footer class="page-footer {{ config.extra.materialize.colorscheme.background.one }}">
			<div class="container">
				<div class="row">
					<div class="col l6 Tags12">
						<h3 class="{{ config.extra.materialize.colorscheme.font.three }}-text"><a class="{{ config.extra.materialize.colorscheme.font.three }}-text" href=/about/>{{ config.extra.materialize.footer.bio.title }}</a></h3>
						<p class="grey-text text-lighten-4">{{ config.extra.materialize.footer.bio.description }}</p>
					</p>
				</div>
				<div class="col l3 s12">
					<h3 class="{{ config.extra.materialize.colorscheme.font.three }}-text">{{ config.extra.materialize.footer.references.title }}</h3>
						<ul>
							{% for reference in config.extra.materialize.footer.references.list %}
							<li><a class="{{ config.extra.materialize.colorscheme.font.three }}-text" href="{{ reference.url }}">{{ reference.name}}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="col l3 s12">
						<h5 class="{{ config.extra.materialize.colorscheme.font.three }}-text">{{ config.extra.materialize.footer.contact.title }}</h5>
						<ul>
							{% for reference in config.extra.materialize.footer.contact.list %}
							<li><a class="{{ config.extra.materialize.colorscheme.font.three }}-text" href="{{ reference.url }}">{{ reference.name}}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="col s3 ac">
						<div class="ac-img">
							<img class="ac">
						</div>
						<span class="tp">点击调戏<a class="nb">+0</a></span>
						<style>
							div.ac {
								position: relative;
								top: -10px;
								height: 20px;
							}
							div.ac-img {
								height: 90px;
								width: 90px;
								line-height: 90px;
								overflow: hidden;
							}
							img.ac {
								margin-left: 5px;
								margin-top: 12px;
								height: 70px;
								cursor: pointer;
							}
							div.ac:hover div.ac-img{
								background: white;
								border-radius: 50%;
							}
							span.tp {
								visibility: hidden;
							}
							div.ac:hover span.tp {
								visibility: visible;
								position: relative;
								top: -90px;
								left: 85px;
								border: 2px solid;
								border-radius: 10px 10px 10px 0px;
								padding: 3px;
							}
							a.nb {
								text-decoration: none;
								border-radius: 5px;
								color : white;
							}
							div.ac-img:active+span>a {
								background : #FF6633;
								-webkit-animation: 0.5s em forwards;
								animation: 0.5s em forwards;
							}
							@-webkit-keyframes em {
								to { background: transparent;}
							}
							@keyframes em {
								to { background: transparent;}
							}
						</style>
						<script>
							var ac=document.querySelector("img.ac");
							ac.src="/img/acmusume/"+Math.floor((Math.random() * 94) + 1)+".gif";
							ac.addEventListener('mousedown', function(e) {
								e.target.src="/img/acmusume/"+Math.floor((Math.random() * 94) + 1)+".gif";
								document.querySelector("a.nb").innerHTML="+"+(Number(document.querySelector("a.nb").innerHTML)+1);
							},false);
						</script>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<div class="row">
						<div class="col s6" >
							{{ macros::social(config=config) }}
							<a class="{{ config.extra.materialize.colorscheme.font.two }}-text text-lighten-3">Powered by</a> <a class="{{ config.extra.materialize.colorscheme.font.three }}-text" href="https://www.getzola.org/" >Zola</a><a class="{{ config.extra.materialize.colorscheme.font.two }}-text text-lighten-3">, themed by</a> <a class="{{ config.extra.materialize.colorscheme.font.three }}-text" href="https://github.com/verpeteren/gutenberg-materialize">materialize</a>
						</div>
						<div class="col s3">
							<a class="{{ config.extra.materialize.colorscheme.font.three }}-text text-light" href="{{ get_url(path="sitemap.xml") }}">
								Sitemap
							</a>
							-
							{% if config.generate_rss %}
								<a class="{{ config.extra.materialize.colorscheme.font.three }}-text text-light" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
									RSS
								</a>
							{% endif %}
						</div>
						<div class="col s3">
							<a class="{{ config.extra.materialize.colorscheme.font.two }}-text text-lighten-3">
								{{ config.extra.materialize.copyright.name }}
							</a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="{{ get_url(path="/js/jquery-2.1.1.min.js", trailing_slash=false) }}"></script>
		<script type="text/javascript" src="{{ get_url(path="/js/materialize.min.js", trailing_slash=false) }}"></script>
		<script type="text/javascript" src="{{ get_url(path="/js/init.js", trailing_slash=false) }}"></script>
		<script>
			$(".button-collapse").sideNav();
		</script>
		{% if config.extra.materialize.social.ga %}
			<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.materialize.social.ga }}"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());
			  gtag('config', '{{ config.extra.materialize.social.ga }}');
			</script>
		{% endif %}
	</div>
</body>
</html>
